/* Mobile first */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    margin-left: 0;
}

.menu {
    height: 100%;
    width: 250px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5; /* indicates that the sidebar is on top of everything else */
    background-color: grey;
    margin-left: -250px;
    transition: all 500ms;
}

#hamburger {
    display: block;
    position: absolute;
    left: 250px;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    font-size: 36px;
    cursor: pointer;
}

.menu.active {
   margin-left: 0;
}

.avatar {
    background-color: rgba(0,0,0,0.1);
    padding: 40px 20px;
    text-align: center;
}

.image {
    width: 150px;
    height: 150px;
    background-image: url("img/cat.png");
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    background-color: white;
    background-position: right 7px top -3px;
    padding: 2px;
    border: 2px solid white;
    background-clip: content-box;
}

.avatar h2 {
    margin-top: 10px;
}

.nav-links {
    list-style-type: none;
    margin-top: 20px
}

.nav-item {
    width: 100%;
    padding: 20px 0 20px 20px;
    cursor: pointer;
}

.nav-item i{
    margin-right: 10px;
    font-size: 18px;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.1);
}

.social-links {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.social-links {
    pointer-events: none;
    cursor: default;
}

.todo-wrapper {
    width: 400px;
    height: 500px;
    padding: 40px 40px 20px 40px;
    border-radius: 15px;
    background-color: white;
}

.new-todo {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 0;
    margin-bottom: 40px;
    padding-left: 5px;
    caret-color: tomato;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add-btn {
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    margin-top: -10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 32px;
    border: 0;
    color: tomato;
    cursor: pointer;
}

.add-btn:focus {
    outline: 0;
}

.add-btn:hover {
    background-color: #a8bbbf;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title::before, .title::after {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.title::before {
    content: "\f1b0";
    margin-right: 10px;
}

.title::after {
    content: "\f1b0";
    margin-left: 10px;
}

.date {
    margin-bottom: 20px;
}

.todo-list {
    height: 200px;
    overflow: auto;
    margin-bottom: 20px;
}

.todo-list::-webkit-scrollbar {
    width: 5px;
}

.todo-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.todo-item {
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
}

.todo-item hr {
    margin-top: 10px;
    border-color: rgba(0,0,0,0.1);
}

#checkbox {
    appearance: none;
    background-color: transparent;
    border: 2px solid #d5d5d5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#checkbox:checked {
    background-color: #5bcd3e;
    border: 0;
}
#checkbox:checked::after {
    display: block;
}

#checkbox::after {
    content: "\f00c";
    display: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 12px;
}

.todo-item span {
    margin: 0 10px 0 10px;
}

.todo-item i {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.todo-item.done :not(input):not(i) {
    text-decoration: line-through;
    color: #a8bbbf
}

.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-list a {
    pointer-events: none;
    cursor: default;
}

.empty-list img {
    width: 250px;
    height: 250px;
}

.todo-counter {
    color: rgba(0,0,0,0.6);
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.arrow {
    display: none;
}

.bxs-moon, .bxs-sun {
    font-size: 24px;
    cursor: pointer;
}

.bxs-moon.bx-tada-hover:hover, .bxs-sun.bx-tada-hover:hover {
    animation-play-state: paused;
}

.clear {
    cursor: pointer;
    float: right;
}

.clear:hover {
    color: tomato;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {
    body {
        margin-left: 250px;
    }

    .menu {
        margin-left: 0;
    }

    #hamburger {
        display: none;
    }

    .theme-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .bxs-moon:hover {
        color: blue;
    }

    .bxs-sun:hover {
        color: yellow;
    }

    .bxs-moon.bx-tada-hover:hover, .bxs-sun.bx-tada-hover:hover {
        animation-play-state: running;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 75px;
        height: 75px;
    }
}