/* Mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

:root {
    --color-bg-primary: #EBEBEB;
    --color-bg-secondary: #FFFFFF;
    --color-text-primary: #181818;
    --color-text-secondary: #606060;
    --color-bg-image: #2D88FF;
    --color-border-image: #2D88FF;
    --color-bg-button: #2D88FF;
    --color-text-button: #FFFFFF;
    --color-check: #50C594;
}

/* Dark mode */
.dark {
    --color-bg-primary: #181818;
    --color-bg-secondary: #282828;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #B3B3B3;
    --color-bg-image: #181818;
    --color-border-image: #FFFFFF;
    --color-text-button: #181818;
    --color-check: #03DAC5;
}

.dark #hamburger, .dark .todo-wrapper {
    box-shadow: none;
}

.dark .new-todo {
    border-bottom: 1px solid #B3B3B3;
}

.dark .nav-item:hover, .dark .log-out-btn:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.dark .arrow {
    display: none;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: var(--color-bg-primary);
}

.menu {
    height: 100%;
    width: 250px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5; /* indicates that the sidebar is on top of everything else */
    margin-left: -250px;
    transition: all 500ms;
    background-color: var(--color-bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#hamburger {
    position: absolute;
    left: 100%;
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    border-radius: 0 0 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    /*https://getcssscan.com/css-box-shadow-examples*/
}

.menu.active {
    margin-left: 0;
}

.avatar {
    background-color: rgba(0,0,0,0.1);
    padding: 40px 20px;
    text-align: center;
}

.image {
    width: 125px;
    height: 125px;
    background-image: url("img/cat.png");
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    background-color: var(--color-bg-image);
    background-position: right 7px top -3px;
    padding: 3px;
    border: 3px solid var(--color-border-image);
    background-clip: content-box;
}

.avatar h2 {
    margin-top: 10px;
    color: var(--color-text-primary);
}

.nav-links {
    list-style-type: none;
}

.nav-item:first-of-type {
    margin-top: 20px;
}

.nav-item, .log-out-btn {
    width: 100%;
    padding: 20px 0 20px 30px;
    cursor: pointer;
    color: var(--color-text-secondary);
    font-size: 18px;
}

.nav-item i, .log-out-btn i {
    margin-right: 20px;
}

.nav-item:hover, .log-out-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.log-out-btn {
    position: absolute;
    bottom: 20px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text-primary);
    font-weight: 700;
    text-transform: uppercase;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bxs-moon, .bxs-sun {
    font-size: 30px;
    cursor: pointer;
    color: var(--color-text-secondary);
}

.bxs-moon.bx-tada-hover:hover, .bxs-sun.bx-tada-hover:hover {
    animation-play-state: paused;
}

.arrow {
    display: none;
}

.todo-wrapper {
    width: 400px;
    height: 550px;
    padding: 40px 40px 0 40px;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.date {
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 60px;
}

.new-todo {
    position: relative;
    z-index: 0;
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    padding-left: 5px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--color-text-secondary);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add-btn {
    position: absolute;
    z-index: 1;
    margin-left: -44px;
    margin-top: -10px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 700;
    border: 0;
    background-color: var(--color-bg-button);
    /*background-color: #7AAEFB;*/
    /*background-color: #00B6E7;*/
    /*background-color: #00CDD7;*/
    color: var(--color-text-button);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    transition: all 500ms ease;
}

.add-btn:focus {
    outline: 0;
}

.add-btn:hover {
    transform: scale(1.2);
}

.todo-list {
    height: 250px;
    overflow: auto;
    margin-bottom: 30px;
}

.todo-list::-webkit-scrollbar {
    width: 5px;
}

.todo-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}

.todo-item {
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
}

#checkbox {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--color-text-secondary);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#checkbox:checked {
    background-color: var(--color-check);
    /*background-color: #00C1B2;*/
    border: 0;
}
#checkbox:checked::after {
    display: block;
}

#checkbox::after {
    content: "\f00c";
    display: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text-button);
    font-size: 16px;
    margin-top: 2px;
}

.todo-item span {
    margin: 0 10px 0 10px;
    color: var(--color-text-secondary);
}

.todo-item i {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: var(--color-text-secondary);
}

.todo-item.done :not(input):not(i) {
    text-decoration: line-through;
}

.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-list p {
    color: var(--color-text-secondary);
    font-weight: 700;
}

.empty-list a {
    pointer-events: none;
    cursor: default;
}

.empty-list img {
    width: 250px;
    height: 250px;
}

.todo-counter {
    color: var(--color-text-primary);
}

.clear {
    float: right;
    cursor: pointer;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin-left: 80px;
    }

    .menu {
        width: 80px;
        margin-left: 0;
        transition: width 500ms linear;
    }

    .menu.active {
        width: 250px;
    }

    .active .avatar, .active .nav-item span, .active .log-out-btn span {
        opacity: 1;
    }

    .avatar, .nav-item, .log-out-btn {
        white-space: nowrap;
        overflow-x: hidden;
    }

    .avatar, .nav-item span, .log-out-btn span {
        opacity: 0;
        transition: opacity 500ms ease;
    }
    .logo {
        margin-left: 80px;
        transform: translateX(-80px);
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    body {
        margin-left: 250px;
    }

    .menu {
        margin-left: 0;
    }

    #hamburger {
        display: none;
    }

    .logo {
        margin-right: 50%;
        transform: translateX(50%);
    }

    .theme-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .bxs-moon.bx-tada-hover:hover, .bxs-sun.bx-tada-hover:hover {
        animation-play-state: running;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 75px;
        height: 75px;
    }
}