* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 200px;
    background-color: beige;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 100vh;
    width: 200px;
    position:fixed;
    background-color: grey;
    top: 0;
    left: 0;
    z-index: 5; /* indicates that the sidebar is on top of everything else */
}

#hamburger {
    display: none;
}

.avatar {
    background-color: rgba(0,0,0,0.1);
    padding: 40px 20px;
    text-align:center;
}

.image {
    width: 125px;
    height: 125px;
    background-image: url("img/cat.png");
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    background-color: white;
    background-position: right 7px top -3px;
    border: 3px solid #1a1a1a;
}

.avatar h2 {
    margin-top: 10px;
}

.nav-links {
    list-style-type: none;
    margin-top: 20px
}

.nav-item {
    padding: 20px 0 20px 20px;
    cursor: pointer;
}

.nav-item i {
    margin-right: 7px;
    font-size: 20px;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.1);
}

.social-links {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.social-links {
    pointer-events: none;
    cursor: default;
}

.social-links img:nth-of-type(2) {
    margin-left: 15px;
}

.todo-wrapper {
    width: 400px;
    height: 500px;
    padding: 40px 40px;
    border-radius: 15px;
    background-color: white;
}

/*.todo-wrapper::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: #a8bbbf;
    top: -10px;
    right: 50%;
    transform: skew(0, 20deg);
}

.todo-wrapper::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: #a8bbbf;
    top: -10px;
    left: 50%;
    transform: skew(0, -20deg);
}*/

.new-todo {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 0;
    margin-bottom: 40px;
    padding-left: 5px;
    caret-color: tomato;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add-btn {
    position: absolute;
    z-index: 1;
    margin-left: -45px;
    margin-top: -10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 32px;
    border: 0;
    outline: none;
    color: tomato;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #a8bbbf;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title::before {
    content: "\f1b0";
    display: inline-block;
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.title::after {
    content: "\f1b0";
    display: inline-block;
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.todo-list {
    height: 250px;
    overflow: auto;
    margin-bottom: 20px;
}

.todo-list::-webkit-scrollbar {
    width: 5px;
}

.todo-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.todo-item {
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
}

.todo-item hr{
    margin-top: 10px;
    border-color: rgba(0,0,0,0.1);
}

#checkbox {
    appearance: none;
    background-color: transparent;
    border: 2px solid #d5d5d5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#checkbox:checked {
    background-color: #5bcd3e;
    border: 0;
}
#checkbox:checked::after {
    display: block;
}

#checkbox::after {
    content: "\f00c";
    display: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 12px;
}

.todo-item span {
    margin-left: 10px;
    margin-right: 10px;
}

.todo-item i {
   float: right;
   cursor: pointer;
   margin-right: 10px;
}

.todo-item.done :not(input):not(i) {
    text-decoration: line-through;
    color: #a8bbbf
}

.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-list a {
    pointer-events: none;
    cursor: default;
}

.empty-list img {
    width: 250px;
    height: 250px;
}

.empty-list strong {
    padding-top: 20px;
}

.todo-counter {
    color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 767px) {

    body {
        margin-left: 0;
    }

    #hamburger {
        display: block;
        font-size: 40px;
        position: absolute;
        left: 200px;
        background-color: rgba(0,0,0,0.1);
        padding: 5px;
        cursor: pointer;
    }

    .menu {
        margin-left: -200px;
    }

    .menu.active {
        margin-left: 0;
    }

    .todo-wrapper {
        border-radius: 0;
    }
}







